.main-header {
  height: 0px;
  z-index: 10;
  align-items: center;
  background: transparent;
  justify-content: space-between;
}

.main-header-two {
  height: 80px;
  z-index: 10;
  align-items: center;
  background: black;
  justify-content: space-between;
}

.left {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
